@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Condensed", sans-serif;
}


.custom-title {
    color: #909090 !important;
  }
  .secondary-title {
    color: #0a0a0a !important;
  }
  .para-color {
    color: #0a0a0a !important;
    font-size: 20px;
    font-weight: 300;
  }

  @media only screen and (max-width: 600px) {
    .para-color {
        color: #0a0a0a !important;
        font-size: 16px;
        font-weight: 300;
      }
  }
  
  /* Base styles */
  .form-width {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Mobile styles */
  @media (max-width: 400px) {
    .form-width {
      width: 90%; 
      max-width: 400px;
    }
  }
  
  /* Ensure consistent height for titles and descriptions */
.post-content {
  min-height: 3rem; /* Adjust this based on your design */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-content-title {
  min-height: 3rem; /* Adjust this based on your design */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

  
  .post-content-title {
    min-height: 1em !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
  }

  .post-content-recent {
    max-height: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 20 !important;
    -webkit-box-orient: vertical;
  }
  
  .post-content-title-recent {
    height: 2.5em !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
  }

  .wp-a-link{
    color: #d21b1b;
  }


  .paragraph-height{
    margin-bottom: 1rem !important;
    color: #4a4a4a !important;
    
  }