@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Condensed", sans-serif;
}


.custom-title {
    color: #909090 !important;
  }
  .secondary-title {
    color: #0a0a0a !important;
  }
  .para-color {
    color: #0a0a0a !important;
    font-size: 20px;
    font-weight: 300;
  }

  @media only screen and (max-width: 600px) {
    .para-color {
        color: #0a0a0a !important;
        font-size: 16px;
        font-weight: 300;
      }
  }
  
  /* Base styles */
  .form-width {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Mobile styles */
  @media (max-width: 400px) {
    .form-width {
      width: 90%; 
      max-width: 400px;
    }
  }
  
  .post-content {
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
  }
  
  .post-content-title {
    height: 2.5em !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
  }
  