name: Build & Deploy Staging

on:
  push:
    branches: [main]
  workflow_dispatch: # Manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Staging CG Staging
        uses: appleboy/ssh-action@master

        with:
          host: ${{ secrets.HOST }} # Your server's IP address
          # username: ${{ secrets.USERNAME }} # Your server's username
          # key: ${{ secrets.SSH_PRIVATE_KEY }} # Your server's SSH private key
          
            
           
   
